@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700,300italic,italic,500italic,700italic);

body {
  font-family: Rubik;
  font-style: normal;
  margin: 0px 0px 0px 0px;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
  text-align: left;
}

.container__header {
  width: 100%;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  height: 8.125rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.header__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logo__name:hover {
  color: #19bce4;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.logo__img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.375rem;
}

.header__list {
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.header__list > li:not(:last-child) {
  margin-right: 2.5rem;
}

.header__list > li > a {
  text-decoration: none;
  cursor: pointer;
}

.header__list > li > a:hover {
  color: #19bce4;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header__btn {
  border-radius: 6px;
  background-color: #19bce4;
  color: white;
  height: 2.5rem;
  width: 6.625rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.header__btn:hover {
  font-size: 1.1875rem;
  line-height: 1.375rem;
  height: 3.125rem;
  width: 7.5rem;
  background-color: #15a7cc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burgimg {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0.9375rem;
  right: 1.5rem;
  height: 2.8125rem;
  width: 2.8125rem;
}

.header__close {
  display: none;
  cursor: pointer;
  height: 2.8125rem;
  width: 2.8125rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}

.main__imgg {
  width: 100%;
  height: 43.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  position: relative;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 11.5625rem;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: white;
}

.main__title {
  font-weight: bold;
  font-size: calc(42px + (22) * (((100vw - 320px) / 1600)));
  line-height: calc(52px + (24) * (((100vw - 320px) / 1600)));
  margin-bottom: calc(12px + (12) * (((100vw - 320px) / 1600)));
  margin-top: 0;
}

.main__subtext {
  max-width: 38.875rem;
  text-align: center;
  font-size: calc(14px + (6) * (((100vw - 320px) / 1600)));
  line-height: calc(22px + (8) * (((100vw - 320px) / 1600)));
}

.main__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 27.625rem;
  background-color: white;
  height: 7.375rem;
  width: 67%;
}

.choose__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.875rem;
  border: 0.5px solid rgba(25, 188, 228, 0.3);
  height: 4.375rem;
  width: 16.1875rem;
  position: relative;
}

.choose__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.choose__subtext {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555555;
  margin-right: 0.625rem;
}

.choose__arrow {
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.choose__name {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.main__btn {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
  background-color: #19bce4;
  height: 4.375rem;
  width: 16.1875rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.main__btn:hover {
  background-color: #15a7cc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select__body {
  padding-left: 1.875rem;
  padding-right: 0.9375rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  background-color: white;
  border: 1px solid #19bce4;
  width: 10.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}

.select__item {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.select__item:hover {
  color: #19bce4;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select__item:not(:last-child) {
  margin-bottom: 0.375rem;
}

.choose__block.choose__active .select__body {
  visibility: visible;
  opacity: 1;
}

.choose__activearrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.choose__price {
  padding-right: 0.9375rem;
}

.about__bigimg {
  width: 32.5rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__smallimg {
  width: 15rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -2.8125rem;
  right: -2.375rem;
}

.about {
  margin-top: calc(40px + (80) * (((100vw - 320px) / 1600)));
}

.about__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__photos {
  position: relative;
  margin-bottom: calc(100px + (65) * (((100vw - 320px) / 1600)));
}

.info {
  margin-left: calc(50px + (30) * (((100vw - 320px) / 1600)));
}

.info__name {
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.info__title {
  font-weight: bold;
  font-size: calc(25px + (23) * (((100vw - 320px) / 1600)));
  line-height: calc(30px + (31) * (((100vw - 320px) / 1600)));
  margin-top: calc(5px + (5) * (((100vw - 320px) / 1600)));
  margin-bottom: calc(10px + (14) * (((100vw - 320px) / 1600)));
}

.info__text {
  font-size: 1.25rem;
  line-height: 1.6875rem;
  max-width: 29.9375rem;
  color: #555555;
  margin-bottom: calc(15px + (25) * (((100vw - 320px) / 1600)));
}

.info__sectons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__photo {
  margin-bottom: calc(10px + (14) * (((100vw - 320px) / 1600)));
}

.section__heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: calc(8px + (8) * (((100vw - 320px) / 1600)));
  margin-top: 0px;
}

.section__text {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #555555;
  max-width: 14.3125rem;
  margin-bottom: calc(10px + (30) * (((100vw - 320px) / 1600)));
}

.info__btn {
  outline: none;
  border: none;
  background-color: #19bce4;
  width: 10.5625rem;
  height: 3.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.info__btn:hover {
  background-color: #15a7cc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.types {
  background: #f8fdfe;
  padding-bottom: 4.6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.types__title {
  margin-top: 0px;
  padding-top: calc(50px + (25) * (((100vw - 320px) / 1600)));
  margin-bottom: calc(50px + (18) * (((100vw - 320px) / 1600)));
  font-weight: bold;
  font-size: calc(32px + (16) * (((100vw - 320px) / 1600)));
  line-height: calc(48px + (13) * (((100vw - 320px) / 1600)));
}

.types__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(20px + (15) * (((100vw - 320px) / 1600)));
}

.types__img {
  width: 32.5rem;
  margin-right: 0.9375rem;
  height: 32.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.types__houses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.types__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 0.5px solid rgba(25, 188, 228, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 0.875rem;
  padding-bottom: 0.875rem;
  padding-top: 1.125rem;
  padding-right: 1.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.types__photo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.75rem;
}

.types__heading {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0px 0px 0.375rem 0px;
}

.types__about {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #555555;
}

.places__title {
  font-size: calc(30px + (18) * (((100vw - 320px) / 1600)));
  line-height: calc(40px + (21) * (((100vw - 320px) / 1600)));
  margin-top: calc(60px + (60) * (((100vw - 320px) / 1600)));
  margin-bottom: calc(10px + (6) * (((100vw - 320px) / 1600)));
  font-weight: bold;
}

.places__sub {
  font-size: 1.25rem;
  line-height: 1.6875rem;
  margin-bottom: calc(20px + (20) * (((100vw - 320px) / 1600)));
}

.places__galerey {
  display: grid;
  grid-template-areas: "big small1 small2" "big small3 small4";
  gap: 1.5625rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin-bottom: calc(80px + (40) * (((100vw - 320px) / 1600)));
}

.places__bigcard {
  grid-area: big;
  position: relative;
  width: 23.125rem;
  height: 35.625rem;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  -o-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

.places__bigstat {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: rgba(0, 96, 119, 0.02);
  -webkit-backdrop-filter: blur(29px);
          backdrop-filter: blur(29px);
}

.places__bigimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__stat {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@supports ((-webkit-backdrop-filter: blur(29px)) or (backdrop-filter: blur(29px))) {
  .places__stat {
    background: rgba(0, 96, 119, 0.02);
    -webkit-backdrop-filter: blur(29px);
            backdrop-filter: blur(29px);
  }
}

.stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12.5rem;
  height: 5.5rem;
  color: white;
}

.stat__name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.stat__num {
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: #dddddd;
}

.places__smallcard {
  position: relative;
  width: 23.125rem;
  height: 16.75rem;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  -o-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

.places__smallcard:hover,
.places__bigcard:hover {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  -o-transition: filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  cursor: pointer;
}

.places__smallimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.places__card1 {
  grid-area: small1;
}

.places__card2 {
  grid-area: small2;
}

.places__card3 {
  grid-area: small3;
}

.places__card4 {
  grid-area: small4;
}

.clients {
  background-color: #f8fdfe;
  margin-bottom: calc(80px + (40) * (((100vw - 320px) / 1600)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__text {
  padding-top: calc(50px + (43) * (((100vw - 320px) / 1600)));
  margin-right: calc(20px + (20) * (((100vw - 320px) / 1600)));
}

.clients__title {
  font-weight: bold;
  font-size: calc(28px + (20) * (((100vw - 320px) / 1600)));
  line-height: calc(48px + (13) * (((100vw - 320px) / 1600)));
  margin: 0px 0px 1.25rem 0px;
}

.clients__maintext {
  max-width: 37.25rem;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #555555;
  margin-bottom: calc(20px + (20) * (((100vw - 320px) / 1600)));
}

.clients__btn {
  background-color: #19bce4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(150px + (40) * (((100vw - 320px) / 1600)));
  height: 3.5rem;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.clients__btn:hover {
  background-color: #15a7cc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn__name {
  color: white;
  margin-right: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.btn__img {
  width: 1.5rem;
  height: 1.5rem;
}

.clients__img {
  width: 21.25rem;
  height: 21.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.subhead__rating {
  background-size: 1.25rem auto;
  position: relative;
  width: 6.25rem;
  height: 1.25rem;
  background-image: url("../img/ic-star.png");
  outline: none;
}

.subhead__field {
  margin: 0px 0px 0px 0px;
  padding: 0;
  border: none;
}

.rating__star {
  cursor: pointer;
  background-repeat: repeat-x;
  background-size: 1.25rem auto;
  margin: 0px 0px 0px 0px;
  font-size: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.rating__star:focus {
  outline: none;
}

.rating__star:checked {
  background-image: url(../img/Star_Fill.png);
}

.rating__star:nth-of-type(1) {
  z-index: 5;
  width: 1.25rem;
}

.rating__star:nth-of-type(2) {
  z-index: 4;
  width: 2.5rem;
}

.rating__star:nth-of-type(3) {
  z-index: 3;
  width: 3.75rem;
}

.rating__star:nth-of-type(4) {
  z-index: 2;
  width: 5rem;
}

.rating__star:nth-of-type(5) {
  z-index: 1;
  width: 6.25rem;
}

.reviews {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff8f7;
  padding-bottom: calc(50px + (47) * (((100vw - 320px) / 1600)));
  margin-bottom: calc(150px + (144) * (((100vw - 320px) / 1600)));
}

.reviews__title {
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: calc(30px + (66) * (((100vw - 320px) / 1600)));
  font-size: calc(28px + (20) * (((100vw - 320px) / 1600)));
  line-height: calc(42px + (23) * (((100vw - 320px) / 1600)));
}

.reviews__sub {
  text-align: center;
  font-weight: normal;
  font-size: calc(12px + (8) * (((100vw - 320px) / 1600)));
  line-height: calc(16px + (11) * (((100vw - 320px) / 1600)));
}

.swiper {
  margin-top: 3.75rem;
}

.swiper-slide {
  margin-top: 5rem;
}

.reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  position: relative;
}

.reviews__imgblock {
  position: relative;
}

.reviews__img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5000;
  width: 9rem;
  height: 9rem;
}

.reviews__name {
  padding-top: 5.0625rem;
  font-size: calc(16px + (8) * (((100vw - 320px) / 1600)));
  line-height: calc(20px + (8) * (((100vw - 320px) / 1600)));
  margin-bottom: 0.5rem;
}

.reviews__text {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #555555;
  padding-left: 2.375rem;
  padding-right: 2.375rem;
  margin-top: 1rem;
  padding-bottom: 1.875rem;
  text-align: center;
}

.footer {
  background: #f8fdfe;
  padding-top: 12.5rem;
}

.footer__form {
  position: relative;
  width: 100%;
  height: 15.6875rem;
  background-color: #19bce4;
  border-radius: 1.5rem;
  position: absolute;
  top: -24.4375rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  position: relative;
}

.form__title {
  font-weight: bold;
  font-size: calc(17px + (23) * (((100vw - 320px) / 1600)));
  line-height: calc(32px + (15) * (((100vw - 320px) / 1600)));
  margin-bottom: calc(20px + (20) * (((100vw - 320px) / 1600)));
  text-align: center;
  margin-top: 0;
  color: #ffffff;
}

.form__flex {
  position: relative;
}

.form__input {
  height: 4rem;
  border-radius: 6px;
  outline: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
  width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5rem;
  font-size: calc(17px + (7) * (((100vw - 320px) / 1600)));
  line-height: calc(16px + (13) * (((100vw - 320px) / 1600)));
}

.form__input::-webkit-input-placeholder {
  font-size: calc(15px + (7) * (((100vw - 320px) / 1600)));
  line-height: calc(14px + (13) * (((100vw - 320px) / 1600)));
  color: #555555;
}

.form__input::-moz-placeholder {
  font-size: calc(15px + (7) * (((100vw - 320px) / 1600)));
  line-height: calc(14px + (13) * (((100vw - 320px) / 1600)));
  color: #555555;
}

.form__input:-ms-input-placeholder {
  font-size: calc(15px + (7) * (((100vw - 320px) / 1600)));
  line-height: calc(14px + (13) * (((100vw - 320px) / 1600)));
  color: #555555;
}

.form__input::-ms-input-placeholder {
  font-size: calc(15px + (7) * (((100vw - 320px) / 1600)));
  line-height: calc(14px + (13) * (((100vw - 320px) / 1600)));
  color: #555555;
}

.form__input::placeholder {
  font-size: calc(15px + (7) * (((100vw - 320px) / 1600)));
  line-height: calc(14px + (13) * (((100vw - 320px) / 1600)));
  color: #555555;
}

.form__btn {
  outline: none;
  border: none;
  background-color: #19bce4;
  width: calc(90px + (30) * (((100vw - 320px) / 1600)));
  height: 3rem;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: calc(13px + (5) * (((100vw - 320px) / 1600)));
  line-height: calc(14px + (13) * (((100vw - 320px) / 1600)));
}

.form__btn:hover {
  background-color: #15a7cc;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.5rem;
}

.footer__logo {
  margin-bottom: 1.25rem;
}

.footer__text {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #555555;
  margin-bottom: calc(20px + (20) * (((100vw - 320px) / 1600)));
  max-width: 20.5625rem;
}

.footer__links {
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links li:not(:last-child) {
  margin-right: 1.0625rem;
}

.footer__link {
  text-decoration: none;
}

.footer__mainlink:hover {
  color: #19bce4;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__linkimg {
  width: 1.5rem;
  height: 1.5rem;
}

.footer__disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block:not(:last-child) {
  margin-right: calc(10px + (10) * (((100vw - 320px) / 1600)));
}

.footer__subtitle {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.footer__list {
  padding: 0;
  margin: 0px 0px 0px 0px;
  list-style: none;
}

.footer__list > li {
  margin-bottom: 0.5rem;
}

.footer__mainlink {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  text-decoration: none;
  color: #555555;
}

.footer__mainlink:not(:last-child) {
  margin-bottom: 0.375rem;
}

.mainlink__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainlink__img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.footer__arrow {
  display: none;
}

@media (min-width: 1000px) {
  .types__img {
    height: 36.5625rem;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 68.75rem;
  }

  .places__bigcard {
    width: 21.25rem;
    height: 35.625rem;
  }

  .places__smallcard {
    width: 21.25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .main__choose {
    top: 35rem;
  }

  .main__text {
    top: calc(145px + (143) * (((100vw - 320px) / 1600)));
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 61.25rem;
  }

  .places__galerey {
    grid-template-areas: "big big" " small1 small2" " small3 small4";
  }

  .places__bigcard {
    width: 100%;
    height: 23.125rem;
  }

  .places__smallcard {
    width: 100%;
  }

  .select__body {
    width: 72%;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 60.625rem;
  }

  .header__li:not(:last-child) {
    margin-right: 1.25rem;
  }

  .about__bigimg {
    width: 21.875rem;
    height: 30.625rem;
  }

  .about__smallimg {
    width: 15rem;
    height: 10rem;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    bottom: -1.25rem;
    right: -1.75rem;
  }

  .section__block:not(:last-child) {
    margin-right: 0.625rem;
  }

  .info__text {
    font-size: 1.25rem;
  }

  .section__photo {
    width: 2.5rem;
    height: 2.5rem;
  }

  .types__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .types__flex {
    width: 100%;
  }

  .types__flex:not(:last-child) {
    margin-bottom: calc(10px + (15) * (((100vw - 320px) / 1600)));
  }

  .types__img {
    width: 100%;
    margin-bottom: calc(15px + (25) * (((100vw - 320px) / 1600)));
  }

  .types__img {
    margin-right: 0px;
  }

  .footer__form {
    height: 13.8125rem;
    top: -20.6875rem;
  }

  .main__choose {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    max-height: 18.75rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 24rem;
  }

  .choose__block {
    width: 100%;
  }

  .select__location {
    height: 15rem;
  }

  .select__properties {
    height: 9.3rem;
  }

  .select__price {
    height: 3.7rem;
  }

  .select__body {
    overflow: auto;
    width: 94%;
  }

  .choose__block {
    min-height: 5.625rem;
  }

  .main__btn {
    min-height: 5.625rem;
    width: 100%;
  }

  .choose__price {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 46.875rem;
  }

  .container__review {
    max-width: 43.75rem;
  }

  .select__body {
    width: 92%;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 40.625rem;
  }

  .header__list {
    width: 100%;
    position: fixed;
    font-size: 3rem;
    line-height: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -50px;
    left: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100vh;
    background-color: #19bce4;
    color: white;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .header {
    height: 5rem;
  }

  .header__burgimg {
    display: block;
  }

  .header__list.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index: 11;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 18.75rem;
  }

  .header__btn {
    margin-right: calc(60px + (-20) * (((100vw - 320px) / 1600)));
  }

  .header__close {
    display: block;
  }

  .about__bigimg {
    display: none;
  }

  .about__smallimg {
    display: none;
  }

  .about__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__photos {
    margin: 0px 0px 0px 0px;
  }

  .about__info {
    margin: 0px 0px 0px 0px;
  }

  .info__text {
    max-width: 100%;
  }

  .clients__img {
    width: 16.25rem;
  }

  .form__input {
    width: 32.5rem;
  }

  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer {
    padding-top: 7.5rem;
  }

  .footer__form {
    height: 12.5rem;
    top: -14.4375rem;
    width: 95%;
    left: 2.5%;
  }

  .footer__text {
    max-width: 100%;
  }

  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.9375rem;
  }

  .select__body {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .container {
    max-width: none;
  }

  .container__review {
    max-width: 23.75rem;
  }

  .stat {
    width: 7.5rem;
    height: 3.75rem;
  }

  .stat__name {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }

  .stat__num {
    font-size: 0.625rem;
    line-height: 1.0625rem;
    color: #dddddd;
  }

  .places__galerey {
    gap: 1.25rem;
  }

  .clients__img {
    display: none;
  }

  .form__input {
    width: 28.125rem;
  }

  .footer__disc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__block {
    min-width: 12.5rem;
    margin-bottom: 0.9375rem;
  }

  .footer__list {
    display: none;
  }

  .footer__sptitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer__arrow {
    width: 1rem;
    height: 1rem;
    display: block;
    margin-right: 0.9375rem;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }

  .footer__list.spoiler__active {
    display: block;
  }

  .footer__subtitle {
    margin-bottom: 0.625rem;
  }

  .footer__arrow.footer__activearrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .form__input {
    width: calc(250px + (500 - 250) * ((100vw - 320px) / (650 - 320)));
  }

  .select__body {
    width: 87%;
  }

  .main__text {
    max-width: 21.875rem;
  }

  .main__subtext {
    margin-top: 0px;
  }

  .main__choose {
    top: 25rem;
  }

  .main__title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .select__body {
    width: 85%;
  }
}

@media (max-width: 400px) {
  .container__review {
    max-width: 20rem;
  }

  .header__list {
    font-size: 2.5rem;
    line-height: 5rem;
  }

  .info__sectons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__text {
    margin: 0px 0px 0px 0px;
    max-width: 100%;
  }

  .section__block {
    margin-bottom: 0.9375rem;
  }

  .types__photo {
    margin-right: 1.25rem;
  }

  .types__flex {
    padding-right: 1rem;
  }

  .places__galerey {
    gap: 0.625rem;
  }

  .header__close {
    width: 2.1875rem;
    height: 2.1875rem;
  }

  .select__body {
    width: 81%;
  }

  .main__choose {
    top: 25rem;
  }

  .choose__block {
    padding-left: 0.5rem;
  }
}

@media (max-width: 350px) {
  .container__review {
    max-width: 15.625rem;
  }

  .header__btn {
    width: 4rem;
  }

  .select__body {
    width: 78%;
  }
}

.webp .subhead__rating{ background-image: url(../img/ic-star.webp); }

.webp .rating__star:checked{ background-image: url(../img/Star_Fill.webp); }